<div class="card card-photo-min" style="width:180px; float:left; margin-right:20px">
    <div class="card-image">
        <a href="{{ path('photo', {'uid':photo.uid }) }}">
            <img src="{{ photo.url }}"  />
        </a>
    </div>
    <div class="card-content center-align">
        {{ photo.name }}<br>
        {{ photo.rating }}<br>
        {{ photo.views }} / {{ photo.likes }} / {{ photo.favs }}
    </div>
</div>