{% extends "PX500CoreBundle::base.html.twig" %}


{% block content %}
<h1>{{ user.username }}</h1>

<h2>Statistiques</h2>

<div class="card-panel">
    <div id="chart_affection" style="margin: auto; width: 100%; height: 70%;"></div>
    <div id="chart_followers" style="margin: auto; width: 100%; height: 70%;"></div>
</div>

<h2>Photos</h2>
{% for photo in user.photos|reverse %}
{% include "PX500CoreBundle:Tiles:photo-min.html.twig" with {'photo':photo} %}
{% endfor %}
<div style="clear:both;"></div>


<script>
google.setOnLoadCallback(drawCharts);

function drawCharts() {
    var data_affection = new google.visualization.DataTable();
    var data_followers = new google.visualization.DataTable();

    data_affection.addColumn('datetime', 'Date');
    data_affection.addColumn('number', 'affection');
    data_affection.addColumn('string', 'photo title');

    data_followers.addColumn('datetime', 'Date');
    data_followers.addColumn('number', 'followers');
    data_followers.addColumn('string', 'photo title');

    {% for stat in user.stats %}
        {% if stat.photo is null %}
            data_affection.addRow([new Date('{{ stat.date|date('r') }}'), {{ stat.affection }} , '']);
            data_followers.addRow([new Date('{{ stat.date|date('r') }}'), {{ stat.followers }} , '']);
        {% else %}
            data_affection.addRow([new Date('{{ stat.date|date('r') }}'), {{ stat.affection }} , '{{ stat.photo.name }}']);
            data_followers.addRow([new Date('{{ stat.date|date('r') }}'), {{ stat.followers }} , '{{ stat.photo.name }}']);
        {%  endif %}
    {% endfor %}

    var options = {
        dateFormat: 'dd/MM HH:mm',
        nomberFormats: '#,##0',
        scaleFormats: '#,##0',
        chartArea:{
            //left:70,
            //top:50,
            width:"80%",
            height:"80%"
        },
    };

    // Make charts
    var chart_affection = new google.visualization.AnnotationChart(document.getElementById('chart_affection'));
    var chart_followers = new google.visualization.AnnotationChart(document.getElementById('chart_followers'));

    // Draw charts
    chart_affection.draw(data_affection, options);
    chart_followers.draw(data_followers, options);
}
</script>

{% endblock content %}

